@charset "UTF-8";

/* ============================================================================
   @TEST STYLESHEET
   ========================================================================= */

html {
    padding: 40px;
}

.css-scaffolding--page-title {
    border-bottom: 1px solid;
    font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", sans-serif;
    font-size: 60px;
    font-weight: 300;
    margin-bottom: 60px;
    padding-bottom: 10px;
    text-align: center;
}

.css-scaffolding--page-title__icon {
    color: gold;
}

.css-scaffolding--page-title__byline {
    color: #999;
    display: block;
    font-size: 16px;
}