@charset "UTF-8";


/* ============================================================================
   @TEST DOCS STYLESHEET
   ========================================================================= */

/**
 * Do not apply styles to elements directly, instead everything needs to be
 * scoped to classes, and styles need to be kept to a minimum, we do this so we
 * don’t interfere with the framework styles. All classes need to be namespaced
 * like so:
 *
   .shell-test__
 */


/**
 * Page title.
 */

.shell-test__page-title {
    background-color: gold;
    color: white;
    font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", sans-serif;
    font-size: 60px;
    font-weight: 300;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}


/**
 * Page intro (not part of any tests).
 */

.shell-test__page-intro {
    background-color: LightYellow;
    padding-top: 40px;
    padding-bottom: 40px;

    > div {
        margin: 0 auto;
        max-width: 600px;
    }
}

.shell-test__page-intro p,
.shell-test__page-intro h2 {
    margin-bottom: 24px;
}

.shell-test__page-intro ol {
    list-style: decimal;
    margin-left: 48px;
}


/**
 * Test styles.
 *
 * @credit
 * suit-test v0.1.0 | MIT License | github.com/suitcss
 */

/**
 * Container that contains everything.
 */

.shell-test__container {
    background: #fff;
    counter-reset: test-describe;
}


/**
 * The HTML elements that are affected by the test:
 * `shell-test__elements` and the test explanation:
 * `shell-test__explanation`.
 */

.shell-test__elements,
.shell-test__explanation {
    background: #eee;
    border-left: 5px solid #666;
    color: #666;
    font-family: sans-serif;
    font-weight: bold;
    margin: 20px 0;
    padding: 0.75em 20px;
}

.shell-test__elements {
    font-size: 1.5em;
    margin: 60px 0 20px;
}

/* The counters */
.shell-test__elements:before,
.shell-test__explanation:before {
    color: #999;
    display: inline-block;
    margin-right: 10px;
    min-width: 30px;
    text-transform: uppercase;
}

.shell-test__elements::before {
    content: counter(test-describe);
    counter-increment: test-describe;
}

.shell-test__elements {
    counter-reset: test-it;
}

.shell-test__explanation::before {
    content: counter(test-describe) "." counter(test-it);
    counter-increment: test-it;
}

/**
 * Highlight the bounds of direct children of a test block.
 */

.shell-test__run--highlightEl > * {
    outline: 1px solid #add8e6;
}


/**
 * Specific test cases.
 */

/* Test whether the body's margin has been removed */
body {
    //background: red;
}
