/* ============================================================================
   @LAYOUT -> SIDE-BY-SIDE
   ========================================================================= */


/**
 * Place any two elements side-by-side, typically for an image- and text-like
 * content. This component uses flexbox.
 *
 * @markup
   <div class="l-side-by-side [modifier(s)]">
     <div class="l-side-by-side__item"> [...] </div>
     <div class="l-side-by-side__item"> [...] </div>
   </div>
 *
 */


/**
 * Side-by-side container.
 *
 * Gutter widths can be found in Settings -> Grid
 */

.l-side-by-side {
    display: flex;
    margin-left: -(to-rem($shell-g-grid-gutter-base));
}

.l-side-by-side__item {
    padding-left: to-rem($shell-g-grid-gutter-base);
}

.l-side-by-side__item:last-child {
    flex: 1 1 0%;
}


/**
 * Modifiers: gutters.
 */

// Gutterless
.l-side-by-side--gutterless {
    margin-left: 0;

    > .l-side-by-side__item {
        padding-left: 0;
    }
}

// Gutter tiny
.l-side-by-side--gutter-tiny {
    margin-left: -(to-rem($shell-g-grid-gutter-tiny));

    .l-side-by-side__item {
        padding-left: to-rem($shell-g-grid-gutter-tiny);
    }
}

// Gutter small
.l-side-by-side--gutter-small {
    margin-left: -(to-rem($shell-g-grid-gutter-small));

    .l-side-by-side__item {
        padding-left: to-rem($shell-g-grid-gutter-small);
    }
}

// Gutter large
.l-side-by-side--gutter-large {
    margin-left: -(to-rem($shell-g-grid-gutter-large));

    .l-side-by-side__item {
        padding-left: to-rem($shell-g-grid-gutter-large);
    }
}

// Gutter huge
.l-side-by-side--gutter-huge {
    margin-left: -(to-rem($shell-g-grid-gutter-huge));

    .l-side-by-side__item {
        padding-left: to-rem($shell-g-grid-gutter-huge);
    }
}


/**
 * Modifiers: vertical alignments.
 */

// Middle alignment
.l-side-by-side--align-middle {
    align-items: center;
}

// Bottom alignment
.l-side-by-side--align-bottom {
    align-items: flex-end;
}


/**
 * Modifier: reversed.
 *
 * Reversed rendered order of layout items, e.g. items 1, 2, 3, 4 in your
 * markup will display in order 4, 3, 2, 1 on your page.
 */

.l-side-by-side--reversed {

    > .l-side-by-side__item:first-child {
        order: 1;
    }
}
