<header role="banner" class="l-header">

    {{!-- Logo --}}
    <a href="index.html" rel="home" class="l-header__logo-link">
        <svg viewBox="0 0 197 83" class="l-header__logo"><title>Shell logo</title><path d="M55.41 24.46h2.2c-.22-4.4-1.063-8.122-2.53-11.165-1.467-3.043-3.428-5.5-5.885-7.37s-5.317-3.227-8.58-4.07C37.352 1.012 33.777.59 29.89.59c-3.153 0-6.325.33-9.515.99-3.19.66-6.068 1.76-8.635 3.3-2.567 1.54-4.657 3.612-6.27 6.215-1.613 2.603-2.42 5.848-2.42 9.735 0 3.813.77 6.912 2.31 9.295s3.575 4.29 6.105 5.72c2.53 1.43 5.372 2.548 8.525 3.355 3.153.807 6.307 1.577 9.46 2.31 3.007.733 6.142 1.448 9.405 2.145 3.263.697 6.233 1.723 8.91 3.08 2.677 1.357 4.877 3.19 6.6 5.5 1.723 2.31 2.585 5.445 2.585 9.405 0 3.373-.752 6.27-2.255 8.69s-3.465 4.4-5.885 5.94-5.152 2.658-8.195 3.355c-3.043.697-6.105 1.045-9.185 1.045-4.18 0-8.012-.458-11.495-1.375-3.483-.917-6.49-2.402-9.02-4.455-2.53-2.053-4.492-4.712-5.885-7.975-1.393-3.263-2.09-7.242-2.09-11.935H.74c-.073 4.987.642 9.24 2.145 12.76 1.503 3.52 3.63 6.398 6.38 8.635s6.013 3.868 9.79 4.895c3.777 1.027 7.902 1.54 12.375 1.54 3.373 0 6.71-.385 10.01-1.155s6.27-2.017 8.91-3.74c2.64-1.723 4.767-3.905 6.38-6.545 1.613-2.64 2.42-5.83 2.42-9.57 0-4.107-.715-7.37-2.145-9.79-1.43-2.42-3.355-4.363-5.775-5.83-2.42-1.467-5.262-2.64-8.525-3.52-3.263-.88-6.728-1.797-10.395-2.75-3.373-.807-6.673-1.577-9.9-2.31-3.227-.733-6.105-1.76-8.635-3.08-2.53-1.32-4.583-3.043-6.16-5.17S5.25 24.35 5.25 20.83c0-3.52.77-6.435 2.31-8.745 1.54-2.31 3.502-4.162 5.885-5.555 2.383-1.393 5.042-2.365 7.975-2.915 2.933-.55 5.757-.825 8.47-.825 3.52 0 6.82.367 9.9 1.1 3.08.733 5.738 1.962 7.975 3.685 2.237 1.723 4.033 3.96 5.39 6.71 1.357 2.75 2.108 6.142 2.255 10.175zm14.85-22V81h2.2V48.99c0-3.153.44-6.16 1.32-9.02.88-2.86 2.182-5.372 3.905-7.535 1.723-2.163 3.868-3.887 6.435-5.17 2.567-1.283 5.537-1.925 8.91-1.925 2.42 0 4.712.348 6.875 1.045 2.163.697 4.07 1.797 5.72 3.3 1.65 1.503 2.952 3.41 3.905 5.72.953 2.31 1.43 5.115 1.43 8.415V81h2.2V43.49c0-3.3-.495-6.215-1.485-8.745-.99-2.53-2.383-4.657-4.18-6.38-1.797-1.723-3.923-3.025-6.38-3.905-2.457-.88-5.152-1.32-8.085-1.32-2.787 0-5.317.385-7.59 1.155-2.273.77-4.272 1.852-5.995 3.245-1.723 1.393-3.153 3.007-4.29 4.84-1.137 1.833-1.962 3.85-2.475 6.05h-.22V2.46h-2.2zm53.9 50.71h47.3c.147-3.887-.238-7.627-1.155-11.22-.917-3.593-2.383-6.783-4.4-9.57-2.017-2.787-4.62-5.023-7.81-6.71-3.19-1.687-6.985-2.53-11.385-2.53-3.153 0-6.233.66-9.24 1.98-3.007 1.32-5.647 3.245-7.92 5.775-2.273 2.53-4.107 5.628-5.5 9.295-1.393 3.667-2.09 7.847-2.09 12.54 0 4.18.477 8.085 1.43 11.715.953 3.63 2.42 6.783 4.4 9.46 1.98 2.677 4.528 4.748 7.645 6.215 3.117 1.467 6.875 2.163 11.275 2.09 6.453 0 11.88-1.815 16.28-5.445 4.4-3.63 7.003-8.745 7.81-15.345h-2.2c-.953 6.233-3.392 10.908-7.315 14.025-3.923 3.117-8.855 4.675-14.795 4.675-4.033 0-7.443-.697-10.23-2.09-2.787-1.393-5.06-3.3-6.82-5.72-1.76-2.42-3.062-5.262-3.905-8.525-.843-3.263-1.302-6.802-1.375-10.615zm45.1-2.2h-45.1c.22-3.96.953-7.517 2.2-10.67 1.247-3.153 2.878-5.848 4.895-8.085 2.017-2.237 4.363-3.942 7.04-5.115 2.677-1.173 5.555-1.76 8.635-1.76 3.667 0 6.893.678 9.68 2.035 2.787 1.357 5.115 3.208 6.985 5.555 1.87 2.347 3.282 5.078 4.235 8.195.953 3.117 1.43 6.398 1.43 9.845zm11-48.51V81h2.2V2.46h-2.2zm14.3 0V81h2.2V2.46h-2.2z"/></svg>
    </a>
    {{!-- //Logo --}}

    {{!-- Main nav --}}
    <nav class="l-header__nav" role="navigation" aria-label="Main navigation">
        <ul>
            {{#withSort pages 'data.navOrder'}}
                {{#if data.slug}}
                    <li>
                        <a href="{{relative ../../page.dest this.dest}}" class="l-header__nav__link {{#is ../../page.dest this.dest}}is-active{{/is}}">{{data.navTitle}}</a>
                    </li>
                {{/if}}
            {{/withSort}}
        </ul>
    </nav>
    {{!-- //Main nav --}}

    {{!-- Log an issue --}}
    {{!-- <a href="" target="_blank" class="c-button">Log an Issue</a> --}}
    {{!-- //Log an issue --}}
</header>
