<!-- Responsive image constrained in a container -->
<div class="l-container">
    <img src="https://unsplash.it/900/400/?random" alt="">
</div>

<!-- Remove responsive image styles for third-party widgets -->
<div class="remove-responsive-images">
    <img src="https://unsplash.it/900/400/?random" alt="">
</div>

<div class="map_canvas">
    <img src="https://unsplash.it/900/400/?random" alt="">
</div>

<div id="map_canvas">
    <img src="https://unsplash.it/900/400/?random" alt="">
</div>
