<!-- Responsive image constrained in a container -->
<div class="l-container">
    <img src="img/test-img-shell.png" alt="">
</div>

<!-- Remove responsive image styles for third-party widgets -->
<div class="remove-responsive-images">
    <img src="img/test-img-shell.png" alt="">
</div>

<div class="map_canvas">
    <img src="img/test-img-shell.png" alt="">
</div>

<div id="map_canvas">
    <img src="img/test-img-shell.png" alt="">
</div>
