<header class="l-container">
    <div class="c-view-masthead">
        <h1 class="heading heading-headline  c-view-masthead__heading">{{title}}</h1>
        <div class="c-view-masthead__intro">
            {{{ intro }}}
        </div>
    </div>
</header>
