<!doctype html>
<html lang="en-au">

<head>
    <meta charset="utf-8">

    {{!-- Styles --}}
    <link href="css/style.css" rel="stylesheet">
    {{!-- //Styles --}}

    {{!-- Meta --}}
    <title>{{ title }} &#10170; Shell’s Docs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{!-- //Meta --}}
</head>

<body>

    {{> svg-icons}}

    {{> header}}

    <main role="main" class="l-main">
        {{> body}}
    </main>

    {{!-- Scripts --}}

    {{!-- //Scripts --}}
  </body>
</html>
