/* ============================================================================
   @SETTINGS
   ========================================================================= */

/**
 * All global settings (Sass variables) for the Shell Docs and any Shell
 * framework setting overrides.
 *
 * Shell Docs settings can use any of the Shell framework settings, like so:
 *
   $g-color-code-block-background: $shell-g-color-white;
 *
 * ---------------------------------------------------------------------------
 *
 * All settings start with a global namespace: `$g` followed by one hyphen,
 * like this:
 *
   $g-;
 *
 * The “g” stands for “global”.
 *
 * ----------------------------------------------------------------------------
 *
 * CONTENTS:
 *
 * 1. Colours
 * 2. Typography
 * 3. Shell overrides
 */




/* 1. Colours
   ========================================================================= */

// CM blue
$g-color-brand: #19a9e5;

// Off white & black
$g-color-off-white: #f9f9f9;

$g-color-off-black: #37393b;

// Greys
$g-color-grey-light: #efefef;

$g-color-grey-medium: #504f4f;

// Code
$g-color-code-navy-blue: #000080;




/* 2. Typography
   ========================================================================= */

$g-font-family-light: "HelveticaNeue-Light", "Helvetica Neue Light",
"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;




/* 3. Shell overrides
   ========================================================================= */

/**
 * Global.
 */

// Colours
$shell-g-color-text-base: #333;

$shell-g-color-link: $g-color-brand;

$shell-g-color-link-hover: #1176a0;

// Typography
$shell-g-font-size: 18;

$shell-g-line-height: 26;

$shell-g-font-size-heading: 58;

$shell-g-font-size-heading-small: 42;

$shell-g-font-size-heading-xxx-small: $shell-g-font-size - 1;

$shell-g-font-family-heading: $g-font-family-light;

$shell-g-font-weight-heading: 200;


/**
 * Local.
 */

// Container
$shell-container-apply-center-alignment: false;

$shell-container-maximum-width: 700;
