/* ============================================================================
   @CORE -> SETTINGS
   ========================================================================= */


/**
 * All the global settings (Sass variables) for Shell. All settings start with
 * a global namespace: `$shell` followed by one hyphen, like this:
 *
   $shell-;
 *
 * CONTENTS:
 *
 * 1. Colours
 * 2. Typography
 * 3. Spacing
 * 4. Other
 */




/* 1. Colours
   ========================================================================= */

/**
 * Black and white.
 */

$shell-color-white: #fff !default;

$shell-color-black: #000 !default;


/**
 * Brand.
 */

$shell-color-brand: #19a9e5 !default;


/**
 * Text.
 */

// Base (global text colour)
$shell-color-text-base: #444 !default;

// Heading
$shell-color-heading: $shell-color-text-base !default;


/**
 * Links.
 */

$shell-color-link: $shell-color-brand !default;

$shell-color-link-hover: $shell-color-brand !default;


/**
 * Textual input `[placeholder]` attribute.
 */

$shell-color-text-input-placeholder: #999 !default;




/* 2. Typography
   ========================================================================= */

/**
 * Sizes.
 */

// Base
$shell-font-size: 16 !default;

// Smaller
$shell-font-size-small: $shell-font-size - 1 !default;

$shell-font-size-x-small: $shell-font-size - 2 !default;

$shell-font-size-xx-small: $shell-font-size - 3 !default;

$shell-font-size-xxx-small: $shell-font-size - 4 !default;

// Larger
$shell-font-size-large: $shell-font-size + 1 !default;

$shell-font-size-x-large: $shell-font-size + 2 !default;

$shell-font-size-xx-large: $shell-font-size + 3 !default;

$shell-font-size-xxx-large: $shell-font-size + 4 !default;

// Heading
// N.B. we declare the most common heading size here, then we use a bunch of
// “size” modifiers that decrease/increase from this size in
// “Core -> Base -> Headings”
$shell-font-size-heading: 24 !default;


/**
 * Line height.
 *
 * N.B. this value will be used for the base spacing setting to achieve a
 * vertical rhythm.
 */

$shell-line-height: 24 !default;


/**
 * Line height ratio.
 */

$shell-line-height-ratio: $shell-line-height / $shell-font-size !default;


/**
 * Families.
 */

// Base
$shell-font-family-base: sans-serif !default;

// Monospaced
$shell-font-family-monospace: monospace, monospace !default;


/**
 * Weights.
 *
 * N.B. all the font weights other than `$shell-font-weight-normal` are there
 * to be used when you’re using webfonts i.e. fonts brought in via the
 * `@font-face` declaration. It’s better to store each webfont weights in
 * settings rather than trying to remember each of the numbers that the
 * weights correspond to, plus it ensures that the site/app’s typography is
 * applied consistency. You can use these settings for none webfonts i.e.
 * system fonts but typically you’ll only need to apply one weight which is
 * “bold” and in this case using `font-weight: bold;` is fine.
 *
 * See: https://developer.mozilla.org/en/docs/Web/CSS/font-weight#Common_weight_name_mapping.
 */

$shell-font-weight-normal: 400 !default;

$shell-font-weight-thin: 100 !default;

$shell-font-weight-extra-light: 200 !default;

$shell-font-weight-light: 300 !default;

$shell-font-weight-medium: 500 !default;

$shell-font-weight-semi-bold: 600 !default;

$shell-font-weight-bold: 700 !default;

$shell-font-weight-extra-bold: 800 !default;

$shell-font-weight-black: 900 !default;

// Heading weight
$shell-font-weight-heading: $shell-font-weight-bold !default;




/* 3. Spacing
   ========================================================================= */

/**
 * Base.
 */

$shell-spacing-base: $line-height !default;


/**
 * Decrease from base.
 */

// Half
$shell-spacing-half: $shell-spacing-base / 2 !default;

// Thirds
$shell-spacing-third: $shell-spacing-base / 3 !default;

$shell-spacing-two-thirds: $shell-spacing-third * 2 !default;

// Quarters
$shell-spacing-quarter: $shell-spacing-base / 4 !default;

$shell-spacing-three-quarters: $shell-spacing-quarter * 3 !default;

// Fifths
$shell-spacing-fifth: $shell-spacing-base / 5 !default;

$shell-spacing-two-fifths: $shell-spacing-fifth * 2 !default;

$shell-spacing-three-fifths: $shell-spacing-fifth * 3 !default;

$shell-spacing-four-fifths: $shell-spacing-fifth * 4 !default;

// Sixth
$shell-spacing-sixth: $shell-spacing-base / 6 !default;

// Micro
$shell-spacing-micro: 2 !default;


/**
 * Increase from base.
 */

// Micro
$shell-spacing-base-plus-micro: $shell-spacing-base + 2 !default;

// Thirds
$shell-spacing-base-plus-third: $shell-spacing-base + $shell-spacing-third !default;

$shell-spacing-base-plus-two-thirds: $shell-spacing-base + ($shell-spacing-third * 2) !default;

// Quarters
$shell-spacing-base-plus-quarter:  $shell-spacing-base + $shell-spacing-quarter !default;

$shell-spacing-base-plus-three-quarters: $shell-spacing-base + ($shell-spacing-quarter * 3) !default;

// Fifths
$shell-spacing-base-plus-fifth: $shell-spacing-base + $shell-spacing-fifth !default;

$shell-spacing-base-plus-two-fifths: $shell-spacing-base + ($shell-spacing-fifth * 2) !default;

$shell-spacing-base-plus-three-fifths: $shell-spacing-base + ($shell-spacing-fifth * 3) !default;

$shell-spacing-base-plus-four-fifths: $shell-spacing-base + ($shell-spacing-fifth * 4) !default;

// Sixth
$shell-spacing-base-plus-sixth: $shell-spacing-base + $shell-spacing-sixth !default;

// Half
$shell-spacing-base-plus-half: $shell-spacing-base + $shell-spacing-half !default;

// Double
$shell-spacing-double: $shell-spacing-base * 2 !default;

// Triple
$shell-spacing-triple: $shell-spacing-base * 3 !default;

// Quadruple
$shell-spacing-quadruple: $shell-spacing-base * 4 !default;




/* 4. Other
   ========================================================================= */

/**
 * HTML textual `input`s.
 */

$shell-textual-inputs: 'input[type="text"],
                        input[type="search"],
                        input[type="tel"],
                        input[type="url"],
                        input[type="email"],
                        input[type="password"],
                        input[type="month"],
                        input[type="week"],
                        input[type="time"],
                        input[type="date"],
                        input[type="datetime"],
                        input[type="datetime-local"],
                        input[type="number"]' !default;
