@charset "UTF-8";

/* ============================================================================
   SHELL TEST'S STYLESHEET
   ========================================================================= */

/**
 * Styles for the Shell Tests.
 *
 * ----------------------------------------------------------------------------
 *
 * CONTENTS:
 *
 * 1. Shell Tests settings
 * 2. Shell library
 * 3. Shell Tests styles
 *
 * N.B. the above order of sections #1 and #2 must be maintained otherwise Sass
 * will not compile!
 */




/* 1. Shell Tests settings incl. any Shell setting overrides
   ========================================================================= */

@import "settings";




/* 2. Shell library
   ========================================================================= */

/**
 * Settings.
 */

@import "../../../../src/settings";


/**
 * Mixins/Functions.
 */

@import "../../../../src/mixins-functions";


/**
 * Normalise/Reset.
 */

@import "../../../../src/normalise-reset";


/**
 * Base.
 */

@import "../../../../src/base";


/**
 * Container.
 */

@import "../../../../src/container";


/**
 * Grid.
 */

@import "../../../../src/grid";


/**
 * Side-by-side.
 */

@import "../../../../src/side-by-side";


/**
 * Helpers.
 */

@import "../../../../src/helpers";




/* 3. Shell Tests styles
   ========================================================================= */

/**
 * Base.
 */

@import "@font-face";

@import "base";


/**
 * Layout Template.
 */

@import "layout/template/l-header";

@import "layout/template/l-main";


/**
 * Components.
 */

@import "components/c-test-case";

@import "components/c-file-path";


/**
 * Vendor.
 */

//@import "vendor/github-style-syntax-highlighting";


.__test-paragraphs {
    background: #333;
    color: #fff;
}

.h-text-size-small {
    line-height: 1.25;
    line-height: 1.4;
}
