/* ============================================================================
   @LAYOUT -> TEMPLATE -> HEADER
   ========================================================================= */

/**
 * The site header which is in the form of a left sidebar at wider viewports.
 */


/**
 * Settings.
 */

$l-header-background-color: $shell-g-color-text-base;


.l-header {
    background-color: $l-header-background-color;
    height: 100vh;
    padding: to-rem($g-header-padding-ends) to-rem($shell-g-spacing-base);
    position: fixed;
    width: $g-header-width;
}


/**
 * The SVG logo and the wrapping link.
 */

.l-header__logo-link {
    display: block;
    margin-bottom: to-rem($shell-g-spacing-double);
}

.l-header__logo {
    fill: $shell-g-color-brand;
    width: 60%;
}


/**
 * Main navigation.
 */

.l-header__nav__link {
    display: inline-block;
    background-color: lighten($shell-g-color-text-base, 3%);
    border-color: darken($shell-g-color-text-base, 1.5%);
    border-style: solid;
    border-radius: 6px;
    border-width: 0 1px 1px 0;
    padding: to-rem(2) to-rem(10);
    text-decoration: none;

    &,
    &:hover,
    &:focus {
        color: $shell-g-color-white;
    }

    &:hover,
    &:focus,
    &.is-active {
        background-color: $shell-g-color-brand;
    }
}
