/* ============================================================================
   @LAYOUT -> TEMPLATE -> HEADER
   ========================================================================= */

/**
 * The site header which is in the form of a left sidebar at wider viewports.
 */


/**
 * Settings.
 */

$l-header-link-padding-sides: $shell-g-spacing-sixth;

$l-header-link-padding-ends: 1;


.l-header {
    height: 100vh;
    padding: to-rem($shell-g-spacing-base-plus-half) to-rem($shell-g-spacing-base-plus-half);
    position: fixed;
    width: $g-header-width;
}


/**
 * The SVG logo and the wrapping link.
 */

.l-header__logo-link {
    display: block;
    margin-bottom: to-rem($shell-g-spacing-double);
}

.l-header__logo {
    fill: $g-color-brand;
}


/**
 * Main navigation.
 */

/**
 * Items.
 */

.l-header__nav__item {
    margin-bottom: to-rem(4);
}

/**
 * Links.
 */

.l-header__nav__link {
    display: inline-block;
    padding: to-rem($l-header-link-padding-ends) to-rem($l-header-link-padding-sides);
    margin-left: -(to-rem($l-header-link-padding-sides));
    text-decoration: none;
    transition: none;

    &,
    &:hover,
    &:focus {
        color: $shell-g-color-text-base;
    }

    &:hover,
    &:focus,
    &.is-active {
        background-color: $g-color-brand;
        color: $shell-g-color-white;
    }
}
