/* ============================================================================
   @LAYOUT -> TEMPLATE -> MAIN
   ========================================================================= */

/**
 * The main content area of the site.
 */


/**
 * Settings.
 */

$l-main-left-margin: $l-header-width;

$l-main-left-padding: $shell-g-spacing-triple;


.l-main {
    margin-left: to-rem($l-main-left-margin);
    padding-bottom: to-rem($shell-g-spacing-base-plus-half);
    padding-left: to-rem($l-main-left-padding);
    padding-top: to-rem($shell-g-spacing-base-plus-half);
}
