/* ============================================================================
   @COMPONENTS -> DEMO
   ========================================================================= */


/**
 * A component that encapsulates a demo for something coming from Shell,
 * typically includes:
 *
 * - A heading
 * - An intro
 * - An example
 * - The examples code
 * - View source code link
 */


/**
 * Settings.
 */

$c-demo-padding: $l-main-left-padding;

$c-demo-background-color: $g-color-off-white;

$c-demo-github-icon-size: 26px;

$c-demo-view-source-code-padding: $shell-g-spacing-half;


.c-demo {
    background-color: $c-demo-background-color;
    padding: to-rem($c-demo-padding / 2);
    padding-left: to-rem($c-demo-padding);
    padding-right: to-rem($c-demo-padding);
    // TODO: move this out of the component and replace with a spacing helper
    margin-bottom: to-rem($c-demo-padding);
    margin-left: -(to-rem($c-demo-padding));
}


/**
 * Headings.
 */

.c-demo__heading {
    margin-bottom: to-rem($shell-g-spacing-base);
}

.c-demo__heading-sub {
    color: darken($c-demo-background-color, 26%);
    font-size: to-rem($shell-g-font-size-xxx-small);
    margin-bottom: to-rem($shell-g-spacing-half);
    text-transform: uppercase;
}


/**
 * Intro.
 */

.c-demo__intro {
    margin-bottom: to-rem($shell-g-spacing-base);
}


/**
 * Example.
 */

.c-demo__example {
    margin-bottom: to-rem($shell-g-spacing-half);
}


/**
 * View source code link.
 */

.c-demo__view-source-code {
    background-color: $shell-g-color-white;
    border-top: 1px solid $c-demo-background-color;
    padding: to-rem($c-demo-view-source-code-padding);
}

/**
 * The link.
 */

.c-demo__view-source-code-link {
    display: inline-block;
    font-size: to-rem($shell-g-font-size-small);
    text-decoration: none;
}

/**
 * The link text.
 */

.c-demo__view-source-code-link-text {
    vertical-align: middle;
}

/**
 * The GitHub SVG icon.
 */

.c-demo__view-source-code-icon {
    fill: $shell-g-color-link;
    height: $c-demo-github-icon-size;
    transition: fill $shell-base-link-transition-duration $shell-base-link-transition-timing-function;
    width: $c-demo-github-icon-size;

    .c-demo__view-source-code-link:hover svg,
    .c-demo__view-source-code-link:focus svg {
        fill: $shell-g-color-link-hover;
    }
}
