/* ============================================================================
   @COMPONENTS -> DEMO
   ========================================================================= */


/**
 * A component that encapsulates a demo for something coming from Shell,
 * typically includes:
 *
 * - A heading
 * - An intro
 * - Configurable items
 * - An example
 * - The examples code
 * - View source code link
 *
 * @example
 * /partials/demo.hbs
 */


/**
 * Settings.
 */

// Padding and margins
$c-demo-padding: $l-main-left-padding;

$c-demo-view-source-code-padding: $shell-g-spacing-half;

$c-demo-base-spacing: $shell-g-spacing-base;

// Colors
$c-demo-background-color: $g-color-off-white;

$c-demo-foreground-color-light-grey: $g-color-grey-medium;

// Typography
$c-demo-font-size: $shell-g-font-size-small;

$c-demo-font-size-small: $shell-g-font-size-x-small;

// Other
$c-demo-github-icon-size: 26px;


.c-demo {
    background-color: $c-demo-background-color;
    font-size: to-rem($c-demo-font-size);
    padding: to-rem($c-demo-padding / 2);
    padding-left: to-rem($c-demo-padding);
    padding-right: to-rem($c-demo-padding);
    // TODO: move this out of the component and replace with a spacing helper
    margin-bottom: to-rem($c-demo-padding);
    margin-left: -(to-rem($c-demo-padding));
}


/**
 * Apply shared spacing.
 *
 * TODO: move this out of the component and replace with spacing helpers.
 */

.c-demo__spacing {
    margin-bottom: to-rem($c-demo-base-spacing);
}

.c-demo__spacing-large {
    margin-bottom: to-rem($c-demo-base-spacing + $shell-g-spacing-half);
}


/**
 * Intro.
 */

.c-demo__intro {
    margin-bottom: to-rem($c-demo-base-spacing + $shell-g-spacing-half);
}


/**
 * Configurable items.
 */

.c-demo__config-items {
    em {
        color: $c-demo-foreground-color-light-grey;
        font-size: to-rem($c-demo-font-size-small);
    }
}


/**
 * Example.
 */

/**
 * Modifier: apply extra styling to the example markup, this is needed when
 * we need additional markup like paragraphs that isn’t the actual example
 * markup.
 */

.c-demo__example--extra-styling {

    > p {
        color: $c-demo-foreground-color-light-grey;
        font-family: $g-font-family-light;
        font-size: to-rem($c-demo-font-size-small);
    }
}


/**
 * View source code link.
 */

.c-demo__view-source-code {
    display: inline-block;
    padding-left: to-rem($c-demo-view-source-code-padding);
    padding-top: to-rem($c-demo-view-source-code-padding);
    text-decoration: none;

    // Remove padding when the demo doesn’t show an example.
    .has-no-example & {
        padding: 0;
    }
}

/**
 * The link text.
 */

.c-demo__view-source-code-text {
    vertical-align: middle;
}

/**
 * The GitHub SVG icon.
 */

.c-demo__view-source-code-icon {
    fill: $shell-g-color-link;
    height: $c-demo-github-icon-size;
    transition: fill $shell-base-link-transition-duration $shell-base-link-transition-timing-function;
    width: $c-demo-github-icon-size;

    .c-demo__view-source-code:hover &,
    .c-demo__view-source-code:focus & {
        fill: $shell-g-color-link-hover;
    }
}
