/* ============================================================================
   @COMPONENTS -> VIEW MASTHEAD
   ========================================================================= */


/**
 * The masthead that sits at the top of each view (page), by default it
 * contains the view heading and an introduction.
 */


/**
 * Settings.
 */

$c-view-masthead-heading-text-size: 58;

$c-view-margin-bottom: $l-main-left-padding;


.c-view-masthead {
    // TODO: move this out of the component and replace with a spacing helper
    margin-bottom: to-rem($l-main-left-padding);
}


/**
 * The heading.
 */

.c-view-masthead__heading {
    margin-bottom: to-rem($shell-g-spacing-base);
}


/**
 * The introduction.
 */

.c-view-masthead__intro {
    font-style: italic;
    color: $g-color-light-grey;

    > p {
        margin-bottom: to-rem($shell-g-spacing-base);
    }
}
