<div class="ðŸŒ-c-test-case__inner">

    {{!-- The selector --}}
    <div class="l-container">
        <div class="ðŸŒ-c-test-case__selector ðŸŒ-c-test-case__block">
            <h2>
                <code class="ðŸŒ-b-code">{{ selector }}</code>
            </h2>
        </div>
    </div>
    {{!-- //The selector --}}


    {{!-- The description --}}
    <div class="l-container">
        <div class="ðŸŒ-c-test-case__test-desc ðŸŒ-c-test-case__block">
            <p>{{{ description }}}</p>
        </div>
    </div>
    {{!-- //The description --}}


    {{!-- Run the test --}}
    <div class="ðŸŒ-c-test-case__test-run">
        {{{ run }}}
    </div>
    {{!-- //Run the test --}}

</div>
