---
title: Home
navTitle: Home
navOrder: 1
---


{{!-- View masthead --}}
<header class="c-view-masthead">
    <h1 class="heading c-view-masthead__heading">{{title}}</h1>
    <div class="c-view-masthead__intro">
        <p>…</p>
    </div>
</header>
{{!-- //View masthead --}}
