---
title: Mixins & Functions
nav-title: Mixins & Functions
slug: mixins-functions
nav-order: 2
---


{{!-- View masthead --}}
{{>view-masthead this intro="<p>Intro to come…</p>"}}
{{!-- //View masthead --}}
