---
title: Side-by-side
nav-title: Side-by-side
slug: side-by-side
nav-order: 6
---


{{!-- View masthead --}}
{{>view-masthead this intro="<p>This page is still being worked on but here are some text faces…</p><div style='font-family: monospace; font-size: 50px; text-align: center;'><div style='color: blue; margin-bottom: 40px;'>(/) (°,,°) (/)</div><div style='color: chartreuse; margin-bottom: 40px;'>ლ,ᔑ•ﺪ͟͠•ᔐ.ლ</div>
<div style='color: darkorchid; margin-bottom: 40px;'>( ͡°( ͡° ͜ʖ( ͡° ͜ʖ ͡°)ʖ ͡°) ͡°)</div><div style='color: fuchsia;'>~(˘▾˘~)</div></div>"}}
{{!-- //View masthead --}}
