/* ============================================================================
   @FONT-FACE
   ========================================================================= */


/**
 * `@font-face` set up for Shell's Web font: Akkurat.
 */


/**
 * Regular.
 */

@font-face {
    font-family: "Akkurat Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Akkurat Regular"), local("Akkurat-Regular"), url("fonts/akkurat-regular.woff2") format("woff2"), url("fonts/akkurat-regular.woff") format("woff");
}


/**
 * Italic.
 */

@font-face {
    font-family: "Akkurat Italic";
    font-style: normal;
    font-weight: normal;
    src: local("Akkurat Italic"), local("Akkurat-Italic"), url("fonts/akkurat-italic.woff2") format("woff2"), url("fonts/akkurat-italic.woff") format("woff");
}


/**
 * Bold.
 */

@font-face {
    font-family: "Akkurat Bold";
    font-style: normal;
    font-weight: normal;
    src: local("Akkurat Bold"), local("Akkurat-Bold"), url("fonts/akkurat-bold.woff2") format("woff2"), url("fonts/akkurat-bold.woff") format("woff");
}


/**
 * Bold Italic.
 */

@font-face {
    font-family: "Akkurat Bold Italic";
    font-style: normal;
    font-weight: normal;
    src: local("Akkurat Bold Italic"), local("Akkurat-Bold-Italic"), url("fonts/akkurat-bold-italic.woff2") format("woff2"), url("fonts/akkurat-bold-italic.woff") format("woff");
}


/**
 * Light.
 */

@font-face {
    font-family: "Akkurat Light Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Akkurat Light Regular"), local("Akkurat-Light-Regular"), url("fonts/akkurat-light-regular.woff2") format("woff2"), url("fonts/akkurat-light-regular.woff") format("woff");
}


/**
 * Light Italic.
 */

@font-face {
    font-family: "Akkurat Light Italic";
    font-style: normal;
    font-weight: normal;
    src: local("Akkurat Light Italic"), local("Akkurat-Light-Italic"), url("fonts/akkurat-light-italic.woff2") format("woff2"), url("fonts/akkurat-light-italic.woff") format("woff");
}
