/* ============================================================================
   BASE
   ========================================================================= */


/**
 * Here we provide very basic styling that most UI's will need. These styles
 * are applied at the most global level being applied via element selectors,
 * except for "Headings" which are scoped to classes (see that section for the
 * info).
 *
 * Everything in Base needs to be easily overridden which is really easy to do
 * as everything in Base sits right at the bottom in terms of specificity.
 *
 * ----------------------------------------------------------------------------
 *
 * CONTENTS:
 *
 * 1. Root element
 * 2. Links
 * 3. Images
 * 4. Forms
 * 5. Paragraphs
 * 6. Headings
 * 7. Print
 */




/* 1. Root element
   ========================================================================= */

html {
    background: $shell-base-root-element-background-color;
    color: $shell-g-color-text;
    font-family: $shell-g-font-family;
    font-size: $shell-g-font-size / 16 * 1em;
    font-weight: $shell-g-font-weight-normal;
    line-height: $shell-g-line-height;
}




/* 2. Links
   ========================================================================= */

a {
    color: $shell-g-color-link;
    text-decoration: $shell-base-link-text-decoration;

    &:hover,
    &:focus {
        color: $shell-g-color-link-hover;
        text-decoration: $shell-base-link-text-decoration-on-hover;
    }
}




/* 3. Images
   ========================================================================= */

/**
 * 1. `[alt]` text is visually offset if images don't load.
 * 2. Make responsive, i.e. keep images from scaling beyond the width of their
 *    parents.
 */

img {
    font-style: italic; // [1]
    height: auto; // [2]
    max-width: 100%; // [2]
}


/**
 * Third-party widgets—like Google Maps—cannot have their images be responsive
 * as this breaks any images used within them therefore we remove that by
 * applying the two possible Google Map container selectors plus a generic
 * container selector to be used for other third-party widgets.
 *
 * N.B. it is okay to use `!important` here as we're doing it pre-emptively
 * i.e. you know you will always want the rule it's applied to to take
 * precedence.
 *
 * @todo https://github.com/campaignmonitor/shell/issues/71
 */

/* stylelint-disable selector-no-id, selector-max-specificity */

.remove-responsive-images img,
.map_canvas img,
#map_canvas img {
    max-width: none !important;
}

/* stylelint-enable */




/* 4. Forms
   ========================================================================= */

/**
 * Apply an optional `opacity` style for disabled and read-only states.
 *
 * N.B. if developing for iOS be aware of this bug:
 * "Safari Mobile for iOS applies a default style of `opacity: 0.4` to disabled
 * textual `<input>` elements. Other major browsers don't currently share this
 * particular default style."
 * —https://developer.mozilla.org/en-US/docs/Web/HTML/Element/
 * Input#Browser_compatibility
 */

@if $shell-base-apply-style-to-disabled-and-readonly-states {
    :disabled,
    [readonly] {
        opacity: $shell-base-disabled-and-readonly-state-opacity-strength;
    }
}




/* 5. Paragraphs
   ========================================================================= */

/**
 * Apply an optional bottom margin to all paragraphs.
 */

@if $shell-base-apply-bottom-margin-to-paragraphs {
    p:not(:last-child) {
        margin-bottom: rem($shell-g-spacing);
    }
}




/* 6. Headings
   ========================================================================= */

/**
 * Here we scope our Base Heading styles to classes instead of the `<hx>`
 * element selector so our styles are not tied to the semantics of the heading
 * element, i.e. if you want a `<h4>` to look like a `<h2>` you can easily do
 * this.
 */


/**
 * Neutralise all the heading elements in favour of applying styles via the
 * `.heading-` class and its variants. We make all the heading elements use the
 * default typography styles and we may as well apply the default text colour.
 *
 * N.B. Resetting `margin` and `padding` are taken care of in
 * "Normalise/Reset".
 */


h1,
h2,
h3,
h4,
h5,
h6 {
    color: $shell-g-color-text;
    font-size: rem($shell-g-font-size);
    font-weight: $shell-g-font-weight-normal;
    line-height: $shell-g-line-height;
}

.heading-headline {
    font-size: rem($shell-g-font-size-x-large);
    font-weight: $shell-g-font-weight-bold;
}

.heading-headline--large {
    font-size: rem($shell-g-font-size-2x-large);
}

.heading-title {
    font-size: rem($shell-g-font-size-large);
}

.heading-sub-title {
    font-weight: $shell-g-font-weight-bold;
}




/* 7. Print
   ========================================================================= */

/**
 * N.B. it is okay to use `!important` here as we're doing it pre-emptively
 * i.e. you know you will always want the rule it's applied too to take
 * precedence.
 */

@media print {
    /**
     * Apply print friendly styles to all the things.
     */

    *,
    *::before,
    *::after,
    *::first-letter,
    *::first-line {
        background: transparent !important;
        box-shadow: none !important;
        color: $shell-g-color-black !important;
        text-shadow: none !important;
    }


    /**
     * Hide elements not really useful on a piece of paper.
     */

    nav,
    video,
    audio {
        display: none !important;
    }


    /**
     * Ensure all images are responsive.
     */

    img {
        height: auto !important;
        max-width: 100% !important;
    }


    /**
     * Make links always stand out.
     */

    a,
    a:visited {
        border-bottom: 0 !important;
        text-decoration: underline !important;
    }


    /**
     * Show the `[href]` and `[title]` attribute values of links and
     * abbreviations via their `::after` pseudo element.
     */

    a[href]::after {
        content: ' (' attr(href) ')';
    }

    abbr[title]::after {
        content: ' (' attr(title) ')';
    }

    // Don't show links that are fragment identifiers, or use the
    // `javascript:` pseudo protocol
    a[href^='javascript:']::after,
    a[href^='#']::after {
        content: '';
    }


    /**
     * Make the header row repeated at the top of each printed page, see:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }


    /**
     * Set page breaks, orphans and widows.
     */

    // Page breaks
    h2,
    h3 {
        page-break-after: avoid;
    }

    tr,
    img,
    pre,
    blockquote {
        page-break-inside: avoid;
    }

    // Orphans and widows
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
}
