/* ============================================================================
   GRID
   ========================================================================= */

/**
 * A powerful "Mobile-first" Flexbox-based grid that is responsive ready (all
 * grid column widths are fluid using the `%` unit), nestable, and comes with
 * a bunch of handy modifiers. This makes the grid the workhorse of your UI
 * builds, any layout you need always look to the grid first—including within
 * your "Components", it exists so you don't have to write redundant CSS to
 * construct layouts.
 *
 * Every grid column width can be generated at any breakpoint thanks to the
 * mixin found here: "Mixins and Functions -> Apply at breakpoints". So if you
 * wanted 2 columns at smaller viewports then go to 4 columns at larger
 * viewports you can easily do this just by passing in the breakpoints you need
 * into the relevant settings, like so:
 *
   // 2 cols
   $shell-grid-apply-2-col-width-at-breakpoints: true;
   $shell-grid-define-2-col-width-breakpoints: (1199 max);

   // 4 cols
   $shell-grid-apply-4-col-width-at-breakpoints: true;
   $shell-grid-define-4-col-width-breakpoints: (desk);
 *
 * This will to compile to:
 *
    @media (max-width: 74.9375em) {
        .l-grid__item--2-col-up-to-desk {
            width: 16.6666%;
        }
    }

    @media (min-width: 75em) {
        .l-grid__item--4-col-from-desk {
            width: 33.3333%%;
        }
    }
 *
 * Other styles cannot be applied to a grid item. Grid is a "Layout Module"
 * therefore the Single Responsibility Principle and the Open/Close Principle
 * strictly applies. So this would be invalid:
 *
    <div class="l-grid__item  c-card">
        […]
    </div>
 *
 * Here we have wrongly applied a "Component" (`c-card`) to the same element as
 * a "Layout Module", we've mixed concerns, this can result in this part of
 * the UI being prone to breakages. The valid way to approach this would be:
 *
    <div class="l-grid__item">
        <div class="c-card">
            […]
        </div>
    </div>
 *
 * As nicely put by Harry Roberts:
 *
 * "Grid systems grid should be thought of as shelves. They contain content but
 * are not content in themselves. You put up your shelves then fill them with
 * your stuff. By setting up our grids separately to our components you can
 * move components around a lot more easily than if they had dimensions
 * applied to them; this makes our front-ends a lot more adaptable and quick
 * to work with."
 *
 * N.B. they're are a number of Flexbox bugs captured here:
 * https://github.com/philipwalton/flexbugs, these have been accounted for in
 * the Shell grid however if anything is missed please refer to this resource.
 *
 * ----------------------------------------------------------------------------
 *
 * N.B. some of the Grid's modifiers and all of the Grid item widths are
 * available to be applied at any breakpoint the Shell consumer wishes, see
 * "Mixins and Functions -> Apply at breakpoints" to understand how this works.
 *
 * ----------------------------------------------------------------------------
 *
 * Grid is namespaced with "l" followed by one hyphen, like this:
 *
   l-grid
 *
 * The "l" stands for "layout" as Grid is a "Layout Module".
 *
 * See: https://git.campmon.com/Freshview/coding-guidelines/blob/master/css/README.md#the-namespaces
 *
 * ----------------------------------------------------------------------------
 *
 * @markup
    <div class="l-grid [modifier(s)]">
        <div class="l-grid__item l-grid__item--2-col">
            […]
        </div>
        <div class="l-grid__item l-grid__item--2-col">
            […]
        </div>
    </div>

    <div class="l-grid [modifier(s)]">
        <div class="l-grid__item l-grid__item--4-col">
            […]
        </div>
        <div class="l-grid__item l-grid__item--4-col">
            […]
        </div>
        <div class="l-grid__item l-grid__item--4-col">
            […]
        </div>
        <div class="l-grid__item l-grid__item--4-col">
            […]
        </div>
    </div>
 *
 * @credit
 * https://github.com/suitcss/components-grid
 */


/**
 * Grid container.
 *
 * 1. Negative left margin to negate the horizontal gutters.
 *
 * N.B. all grid gutter sizes are in "Settings -> Grid (Local)".
 */

.l-grid {
    display: flex;
    flex-flow: row wrap;
    margin-left: -(rem($shell-g-spacing-base)); // [1]
}


/**
 * Grid items.
 *
 * 1. Allows the use of widths.
 * 2. Horizontal gutter.
 * 3. 100% width by default—"Mobile-first".
 *
 * N.B. all grid gutter sizes are in "Settings -> Grid (Local)".
 */

.l-grid__item {
    flex-basis: auto; // [1]
    padding-left: rem($shell-g-spacing-base); // [2]
    width: 100%; // [3]
}


/**
 * Modifier: all items match height of tallest item in a row.
 */

.l-grid--equal-height > .l-grid__item {
    display: flex;
}


/**
 * Modifier: gutterless for both horizontal and vertical gutters.
 *
 * N.B. we boost the specificity by chaining the base class to the modifier
 * class to make sure we're always overriding any gutter modifier classes.
 */

.l-grid.l-grid--gutterless {
    margin-left: 0;

    > .l-grid__item {
        padding-left: 0;
        margin-bottom: 0;
    }
}


/**
 * Modifiers: gutter sizes.
 *
 * N.B. all grid gutter sizes are in "Settings -> Grid (Local)".
 */

// Base
// N.B. having to reinstate the default so that any nested grids that inherit
// a "Gutterless" modifier can be easily reapplied
.l-grid--gutter-horizontal-base {
    margin-left: -(rem($shell-g-spacing-base));

    > .l-grid__item {
        padding-left:  rem($shell-g-spacing-base);
    }
}

// Decrease
.l-grid--gutter-horizontal-x-small {
    margin-left: -(rem($shell-g-spacing-x-small));

    > .l-grid__item {
        padding-left:  rem($shell-g-spacing-x-small);
    }
}

.l-grid--gutter-horizontal-small {
    margin-left: -(rem($shell-g-spacing-small));

    > .l-grid__item {
        padding-left:  rem($shell-g-spacing-small);
    }
}

// Increase
.l-grid--gutter-horizontal-large {
    margin-left: -(rem($shell-g-spacing-large));

    > .l-grid__item {
        padding-left:  rem($shell-g-spacing-large);
    }
}

.l-grid--gutter-horizontal-x-large {
    margin-left: -(rem($shell-g-spacing-x-large));

    > .l-grid__item {
        padding-left:  rem($shell-g-spacing-x-large);
    }
}


/**
 * Modifiers: vertical gutters.
 *
 * N.B. all grid gutter sizes are in "Settings -> Grid (Local)".
 */

// Base
.l-grid--gutter-vertical-base > .l-grid__item {
    margin-bottom: rem($shell-g-spacing-base);
}

// Decrease
.l-grid--gutter-vertical-x-small > .l-grid__item {
    margin-bottom: rem($shell-g-spacing-x-small);
}

.l-grid--gutter-vertical-small > .l-grid__item {
    margin-bottom: rem($shell-g-spacing-small);
}

// Increase
.l-grid--gutter-vertical-large > .l-grid__item {
    margin-bottom: rem($shell-g-spacing-large);
}

.l-grid--gutter-vertical-x-large > .l-grid__item {
    margin-bottom: rem($shell-g-spacing-x-large);
}


/**
 * Modifiers: alignments.
 */

// Middle
.l-grid--align-middle {
    align-items: center;
}

// Bottom
.l-grid--align-bottom {
    align-items: flex-end;
}

// Center
.l-grid--align-center {
    justify-content: center;
}

// Right
.l-grid--align-right {
    justify-content: flex-end;
}


/**
 * Modifiers: "space between" and "space around".
 */

// Space between
.l-grid--space-between {
    justify-content: space-between;
}

// Space around
.l-grid--space-around {
    justify-content: space-around;
}


/**
 * Modifier: fit, all grid items have an equal width.
 *
 * 1. Provide all values to avoid IE 10 bug with the shorthand `flex`
 *    property, see: http://git.io/vllC7.
 *    Use `0%` to avoid bug in IE 10/11 with unitless `flex-basis`, see:
 *    http://git.io/vllWx.
 */

.l-grid--fit .l-grid__item {
    flex: 1 1 0%;  // [1]
}


/**
 * Modifier: horizontally center an individual grid item.
 */

.l-grid__item--align-center {
    margin: 0 auto;
}


/**
 * Modifiers: grid column widths.
 *
 * N.B. grid column widths can be found in "Settings -> Grid (Local)".
 */

// 1 col
.l-grid__item--1-col {
    width: $shell-grid-1-col-width;
}

// Apply at breakpoints
@if $shell-grid-apply-1-col-width-at-breakpoints {
    @include apply-at-breakpoints(".l-grid__item--1-col", $shell-grid-define-1-col-width-breakpoints) {
        width: $shell-grid-1-col-width;
    }
}

// 2 col
.l-grid__item--2-col {
    width: $shell-grid-2-col-width;
}

// Apply at breakpoints
@if $shell-grid-apply-2-col-width-at-breakpoints {
    @include apply-at-breakpoints(".l-grid__item--2-col", $shell-grid-define-2-col-width-breakpoints) {
        width: $shell-grid-2-col-width;
    }
}

// 3 col
.l-grid__item--3-col {
    width: $shell-grid-3-col-width;
}

// Apply at breakpoints
@if $shell-grid-apply-3-col-width-at-breakpoints {
    @include apply-at-breakpoints(".l-grid__item--3-col", $shell-grid-define-3-col-width-breakpoints) {
        width: $shell-grid-3-col-width;
    }
}

// 4 col
.l-grid__item--4-col {
    width: $shell-grid-4-col-width;
}

// Apply at breakpoints
@if $shell-grid-apply-4-col-width-at-breakpoints {
    @include apply-at-breakpoints(".l-grid__item--4-col", $shell-grid-define-4-col-width-breakpoints) {
        width: $shell-grid-4-col-width;
    }
}

// 5 col
.l-grid__item--5-col {
    width: $shell-grid-5-col-width;
}

// Apply at breakpoints
@if $shell-grid-apply-5-col-width-at-breakpoints {
    @include apply-at-breakpoints(".l-grid__item--5-col", $shell-grid-define-5-col-width-breakpoints) {
        width: $shell-grid-5-col-width;
    }
}

// 6 col
.l-grid__item--6-col {
    width: $shell-grid-6-col-width;
}

// Apply at breakpoints
@if $shell-grid-apply-6-col-width-at-breakpoints {
    @include apply-at-breakpoints(".l-grid__item--6-col", $shell-grid-define-6-col-width-breakpoints) {
        width: $shell-grid-6-col-width;
    }
}

// 7 col
.l-grid__item--7-col {
    width: $shell-grid-7-col-width;
}

// Apply at breakpoints
@if $shell-grid-apply-7-col-width-at-breakpoints {
    @include apply-at-breakpoints(".l-grid__item--7-col", $shell-grid-define-7-col-width-breakpoints) {
        width: $shell-grid-7-col-width;
    }
}

// 8 col
.l-grid__item--8-col {
    width: $shell-grid-8-col-width;
}

// Apply at breakpoints
@if $shell-grid-apply-8-col-width-at-breakpoints {
    @include apply-at-breakpoints(".l-grid__item--8-col", $shell-grid-define-8-col-width-breakpoints) {
        width: $shell-grid-8-col-width;
    }
}

// 9 col
.l-grid__item--9-col {
    width: $shell-grid-9-col-width;
}

// Apply at breakpoints
@if $shell-grid-apply-9-col-width-at-breakpoints {
    @include apply-at-breakpoints(".l-grid__item--9-col", $shell-grid-define-9-col-width-breakpoints) {
        width: $shell-grid-9-col-width;
    }
}

// 10 col
.l-grid__item--10-col {
    width: $shell-grid-10-col-width;
}

// Apply at breakpoints
@if $shell-grid-apply-10-col-width-at-breakpoints {
    @include apply-at-breakpoints(".l-grid__item--10-col", $shell-grid-define-10-col-width-breakpoints) {
        width: $shell-grid-10-col-width;
    }
}

// 11 col
.l-grid__item--11-col {
    width: $shell-grid-11-col-width;
}

// Apply at breakpoints
@if $shell-grid-apply-11-col-width-at-breakpoints {
    @include apply-at-breakpoints(".l-grid__item--11-col", $shell-grid-define-11-col-width-breakpoints) {
        width: $shell-grid-11-col-width;
    }
}
