/* ============================================================================
   SETTINGS
   ========================================================================= */


/**
 * All of Shell's settings (Sass variables).
 *
 * The settings are broken into two categories:
 *
 * - "Global".....settings for the entire library.
 * - "Local"......settings for a particular partial.
 *
 * ----------------------------------------------------------------------------
 *
 * All settings start with a global namespace: `$shell` followed by one
 * hyphen, like this:
 *
   $shell-
 *
 * "Global" settings include a letter "g" to easily identify them, like so:
 *
   $shell-g-
 *
 * "Local" settings include the name of its section to easily identify them, so
 * settings for the "Base" and "Grid" sections would be formatted like this:
 *
   $shell-base-
   $shell-grid-
 *
 * The `$shell` namespace prevents your project settings and Shell's settings
 * from clashing with each other, and allows you to easily see what is
 * coming from Shell and what isn't.
 *
 * ----------------------------------------------------------------------------
 *
 * CONTENTS:
 *
 * 1.  Base number (Global)
 * 2.  Colours (Global)
 * 3.  Typography (Global)
 * 4.  Spacing (Global)
 * 5.  Cosmetics (Global)
 * 6.  Breakpoints (Global)
 * 7.  Z-Index system (Global)
 * 8.  HiDPI units (Global)
 * 9.  HTML textual `input`s (Global)
 * 10. Base (Local)
 * 11. Container (Local)
 * 12. Grid (Local)
 * 13. Helpers (Local)
 */




/* 1. Base number (Global)
   ========================================================================= */

/**
 * The baseline number from which everything else is derived.
 */

$shell-g-base-number: 16 !default;




/* 2. Colours (Global)
   ========================================================================= */

/**
 * Black and white.
 */

$shell-g-color-white: #fff !default;

$shell-g-color-black: #000 !default;


/**
 * Base text.
 */

$shell-g-color-text: #434d5d !default;


/**
 * Links.
 */

$shell-g-color-link: #19a9e5 !default;

$shell-g-color-link-hover: $shell-g-color-link !default;




/* 3. Typography (Global)
   ========================================================================= */

/**
 * The scale based on `$shell-g-base-number` being 16:
 *
 * Decrease: 14, 13, 12
 * Increase: 18, 24, 28, 32, 40, 48, 56, 72
 */

$shell-g-font-size: $shell-g-base-number !default;

// Decrease
$shell-g-font-size-small: $shell-g-font-size - 2 !default;

$shell-g-font-size-x-small: $shell-g-font-size - 3 !default;

$shell-g-font-size-2x-small: $shell-g-font-size - 4 !default;

// Increase
$shell-g-font-size-large: $shell-g-font-size + 2 !default;

$shell-g-font-size-x-large: ceil($shell-g-font-size / 2 * 3) !default;

$shell-g-font-size-2x-large: ceil($shell-g-font-size / 2 * 3.5) !default;

$shell-g-font-size-3x-large: ceil($shell-g-font-size / 2 * 4) !default;

$shell-g-font-size-4x-large: ceil($shell-g-font-size / 2 * 5) !default;

$shell-g-font-size-5x-large: ceil($shell-g-font-size / 2 * 6) !default;

$shell-g-font-size-6x-large: ceil($shell-g-font-size / 2 * 7) !default;

$shell-g-font-size-7x-large: ceil($shell-g-font-size / 2 * 9) !default;


/**
 * Line height.
 */

$shell-g-line-height: 1.5 !default;


/**
 * Families.
 */

// Base
$shell-g-font-family: 'Helvetica Neue', sans-serif !default;

// Mono-space
$shell-g-font-family-monospace: monospace, monospace !default;


/**
 * Weights.
 */

$shell-g-font-weight-normal: 400 !default;

$shell-g-font-weight-light: 300 !default;

$shell-g-font-weight-bold: 700 !default;




/* 4. Spacing (Global)
   ========================================================================= */

/**
 * The scale based on `$shell-g-base-number` being 16:
 *
 * Decrease: 12, 8, 4
 * Increase: 24, 32, 40, 48, 56, 72, 96
 */

$shell-g-spacing: $shell-g-base-number !default;

// Decrease
$shell-g-spacing-small: floor($shell-g-spacing - 4) !default;

$shell-g-spacing-x-small: floor($shell-g-spacing / 2) !default;

$shell-g-spacing-2x-small: floor($shell-g-spacing / 4) !default;

// Increase
$shell-g-spacing-large: ceil($shell-g-spacing / 2 * 3) !default;

$shell-g-spacing-x-large: ceil($shell-g-spacing / 2 * 4) !default;

$shell-g-spacing-2x-large: ceil($shell-g-spacing / 2 * 5) !default;

$shell-g-spacing-3x-large: ceil($shell-g-spacing / 2 * 6) !default;

$shell-g-spacing-4x-large: ceil($shell-g-spacing / 2 * 7) !default;

$shell-g-spacing-5x-large: ceil($shell-g-spacing / 2 * 9) !default;

$shell-g-spacing-6x-large: ceil($shell-g-spacing / 2 * 12) !default;




/* 5. Cosmetics (Global)
   ========================================================================= */

$shell-g-border-radius: 3px;




/* 6. Breakpoints (Global)
   ========================================================================= */

/**
 * The breakdown of the breakpoints is based off this chart:
 * http://static.lukew.com/unified_device_design.png
 *
 * Here's the thinking:
 *
 * - Palm..........smart-phones and feature phones—anything that can fit into
 *                 the palm of a hand.
 * - Lap...........typically tablets, notebooks and laptops—anything that is
 *                 portable that doesn't include phones.
 * - Lap small.....smaller tablets/notebooks and e-readers e.g. Kindle.
 * - Lap large.....larger tablets and laptops.
 * - Desk..........desktop computers, TVs, etc.—anything that isn't portable.
 * - Desk large....larger desktop computer monitors, TVs, and who knows what
 *                 else?
 *
 * The breakpoints:
 *
 * - Palm: 0–640px
 * - Lap: 641px +
 * - Lap small: 768px +
 * - Lap large: 901px +
 * - Desk: 1200px +
 * - Desk large: 1366px +
 *
 * @credit
 * http://www.lukew.com/ff/entry.asp?1679
 */


/**
 * All the breakpoints divided by the default user-agent font-size setting
 * that is non-overridable by Shell's base font size setting:
 * `$shell-g-font-size`. We do this division as all viewport width and height
 * media queries are to be applied with the `em` unit. See:
 * http://blog.cloudfour.com/the-ems-have-it-proportional-media-queries-ftw/.
 *
 * N.B. if you wish to override any of the breakpoints then don't forget to
 * apply this calculation:
 *
    ([breakpoint-value] / 16) * 1em
 *
 * N.B. as we're using a Sass map we need to use a Sass function to make it
 * easier to apply the map keys, the function lives in
 * "Mixins/Functions -> Retrieve from maps".
 */

$shell-g-breakpoints: (

  // Palm
  'palm': (640 / 16) * 1em,

  // Lap
  'lap': (641 / 16) * 1em,
  'lap-small': (768 / 16) * 1em,
  'lap-large': (901 / 16) * 1em,

  // Desk
  'desk': (1200 / 16) * 1em,
  'desk-large': (1366 / 16) * 1em

) !default;


/**
 * The setting used for the default breakpoint applied to the
 * "Mixins/Functions -> Apply at breakpoints" mixin.
 */

$shell-g-global-breakpoints: (lap) !default;




/* 7. Z-Index system (Global)
   ========================================================================= */

/**
 * A nice system that uses Sass maps to keep your project `z-index`s
 * maintainable, sane, and free of those crazy `z-index: 99999;` occurrences!
 *
 * Be sure to read this to fully understand how the system works:
 * http://www.sitepoint.com/better-solution-managing-z-index-sass/
 *
 * Shell kicks it off by providing a standard stacking order that most projects
 * would require, you can then update the Sass map in your project "Settings"
 * partial, be sure to use nested maps to make this system aware of stacking
 * contexts as having a flat map will soon become a headache to maintain.
 *
 * Applying `z-index`s with this system is done like this:
 *
    .c-header {
        z-index: z(header);
    }
 *
 * And for nested stacking contexts (defined via a nested map):
 *
    .c-dialog__close-button {
        z-index: z(dialog-elements, close-button);
    }
 *
 * N.B. as we're using a Sass map (and nested maps) we need to use a Sass
 * function to make it easier to apply the map keys and to be able to
 * retrieve nested map keys. The function lives in
 * "Mixins/Functions -> Retrieve from maps".
 *
 * @credit
 * http://www.sitepoint.com/better-solution-managing-z-index-sass/
 */


/**
 * Starting from highest to lowest:
 *
    <body>
        <dialog>
            <dialog-close-button>
        <dialog-underlay>
        <header>
        <main>
        <footer>
    </body>
 */

$shell-g-z-layers: (
    'dialog-elements': (
        'close-button': 1
    ),
    'dialog': 5,
    'dialog-underlay': 4,
    'header': 3,
    'main': 2,
    'footer': 1,
    'underneath': -1
) !default;




/* 8. HiDPI units (Global)
   ========================================================================= */

/**
 * HiDPI units, currently being used in:
 * "Mixins/Functions -> HiDPI background images".
 *
 * N.B. non-over-ridable.
 */

$shell-g-hidpi-dpr: 1.3;

$shell-g-hidpi-dpi: ($shell-g-hidpi-dpr * 96) * 1dpi;

$shell-g-hidpi-dppx: 1.3 * 1dppx;




/* 9. HTML textual `input`s (Global)
   ========================================================================= */

/* stylelint-disable string-no-newline */

$shell-g-textual-inputs: 'input[type="text"],
                          input[type="search"],
                          input[type="tel"],
                          input[type="url"],
                          input[type="email"],
                          input[type="password"],
                          input[type="month"],
                          input[type="week"],
                          input[type="time"],
                          input[type="date"],
                          input[type="datetime"],
                          input[type="datetime-local"],
                          input[type="number"]' !default;

/* stylelint-enable */



/* 10. Base (Local)
   ========================================================================= */

/**
 * Booleans.
 */

$shell-base-apply-style-to-disabled-and-readonly-states: true !default;

$shell-base-apply-bottom-margin-to-paragraphs: false !default;


/**
 * Root element.
 */

$shell-base-root-element-background-color: $shell-g-color-white !default;


/**
 * Links.
 */

$shell-base-link-text-decoration: underline !default;

$shell-base-link-text-decoration-on-hover: none !default;


/**
 * Forms.
 */

$shell-base-disabled-and-readonly-state-opacity-strength: 0.6 !default;

$shell-base-target-ios-selector: '.target-ios' !default;




/* 11. Container (Local)
   ========================================================================= */

/**
 * Booleans.
 */

$shell-container-apply-center-alignment: true !default;


/**
 * Widths.
 */

$shell-container-maximum-width: 1600 !default;

$shell-container-minimum-width: 320 !default;

// Size modifiers
$shell-container-maximum-width-x-large: 2400 !default;

$shell-container-maximum-width-large: 2000 !default;

$shell-container-maximum-width-small: 1000 !default;

$shell-container-maximum-width-x-small: 746 !default;


/**
 * Gutter size.
 */

$shell-container-gutter: $shell-g-spacing-3x-large !default;




/* 12. Grid (Local)
   ========================================================================= */

/**
 * Grid column widths.
 */

$shell-grid-1-col-width: calc(100% / 12) !default;

$shell-grid-2-col-width: calc((100% / 12) * 2) !default;

$shell-grid-3-col-width: 25% !default;

$shell-grid-4-col-width: calc((100% / 12) * 4) !default;

$shell-grid-5-col-width: calc((100% / 12) * 5) !default;

$shell-grid-6-col-width: 50% !default;

$shell-grid-7-col-width: calc((100% / 12) * 7) !default;

$shell-grid-8-col-width: calc((100% / 12) * 8) !default;

$shell-grid-9-col-width: 75% !default;

$shell-grid-10-col-width: calc((100% / 12) * 10) !default;

$shell-grid-11-col-width: calc((100% / 12) * 11) !default;

$shell-grid-12-col-width: 100% !default;


/* stylelint-disable max-line-length */

/**
 * For all grid item widths turn on the ability to apply breakpoints via
 * boolean settings then define the breakpoints, see: "Mixins/Functions ->
 * Apply at breakpoints" to understand how this works.
 */

// 1 col
$shell-grid-apply-1-col-width-at-breakpoints: false !default;

$shell-grid-define-1-col-width-breakpoints: $shell-g-global-breakpoints !default;

// 2 col
$shell-grid-apply-2-col-width-at-breakpoints: false !default;

$shell-grid-define-2-col-width-breakpoints: $shell-g-global-breakpoints !default;

// 3 col
$shell-grid-apply-3-col-width-at-breakpoints: false !default;

$shell-grid-define-3-col-width-breakpoints: $shell-g-global-breakpoints !default;

// 4 col
$shell-grid-apply-4-col-width-at-breakpoints: false !default;

$shell-grid-define-4-col-width-breakpoints: $shell-g-global-breakpoints !default;

// 5 col
$shell-grid-apply-5-col-width-at-breakpoints: false !default;

$shell-grid-define-5-col-width-breakpoints: $shell-g-global-breakpoints !default;

// 6 col
$shell-grid-apply-6-col-width-at-breakpoints: false !default;

$shell-grid-define-6-col-width-breakpoints: $shell-g-global-breakpoints !default;

// 7 col
$shell-grid-apply-7-col-width-at-breakpoints: false !default;

$shell-grid-define-7-col-width-breakpoints: $shell-g-global-breakpoints !default;

// 8 col
$shell-grid-apply-8-col-width-at-breakpoints: false !default;

$shell-grid-define-8-col-width-breakpoints: $shell-g-global-breakpoints !default;

// 9 col
$shell-grid-apply-9-col-width-at-breakpoints: false !default;

$shell-grid-define-9-col-width-breakpoints: $shell-g-global-breakpoints !default;

// 10 col
$shell-grid-apply-10-col-width-at-breakpoints: false !default;

$shell-grid-define-10-col-width-breakpoints: $shell-g-global-breakpoints !default;

// 11 col
$shell-grid-apply-11-col-width-at-breakpoints: false !default;

$shell-grid-define-11-col-width-breakpoints: $shell-g-global-breakpoints !default;

// 12 col
$shell-grid-apply-12-col-width-at-breakpoints: false !default;

$shell-grid-define-12-col-width-breakpoints: $shell-g-global-breakpoints !default;

/* stylelint-enable */




/* 13. Helpers (Local)
   ========================================================================= */

/**
 * For certain "Helpers" turn on the ability to apply breakpoints via boolean
 * settings then define the breakpoints, see: "Mixins/Functions ->
 * Apply at breakpoints" to understand how this works.
 */

/* stylelint-disable max-line-length */

/**
 * Text sizes.
 */

/**
 * Base.
 */

$shell-helper-apply-text-size-at-breakpoints: false !default;

$shell-helper-define-text-size-breakpoints: $shell-g-global-breakpoints !default;

/**
 * Decrease from base.
 */

// Small
$shell-helper-apply-text-size-small-at-breakpoints: false !default;

$shell-helper-define-text-size-small-breakpoints: $shell-g-global-breakpoints !default;

// X-Small
$shell-helper-apply-text-size-x-small-at-breakpoints: false !default;

$shell-helper-define-text-size-x-small-breakpoints: $shell-g-global-breakpoints !default;

// 2X-Small
$shell-helper-apply-text-size-2x-small-at-breakpoints: false !default;

$shell-helper-define-text-size-2x-small-breakpoints: $shell-g-global-breakpoints !default;


/**
 * Increase from base.
 */

// Large
$shell-helper-apply-text-size-large-at-breakpoints: false !default;

$shell-helper-define-text-size-large-breakpoints: $shell-g-global-breakpoints !default;

// X-Large
$shell-helper-apply-text-size-x-large-at-breakpoints: false !default;

$shell-helper-define-text-size-x-large-breakpoints: $shell-g-global-breakpoints !default;

// 2X-Large
$shell-helper-apply-text-size-2x-large-at-breakpoints: false !default;

$shell-helper-define-text-size-2x-large-breakpoints: $shell-g-global-breakpoints !default;

// 3X-Large
$shell-helper-apply-text-size-3x-large-at-breakpoints: false !default;

$shell-helper-define-text-size-3x-large-breakpoints: $shell-g-global-breakpoints !default;

// 4X-Large
$shell-helper-apply-text-size-4x-large-at-breakpoints: false !default;

$shell-helper-define-text-size-4x-large-breakpoints: $shell-g-global-breakpoints !default;

// 5X-Large
$shell-helper-apply-text-size-5x-large-at-breakpoints: false !default;

$shell-helper-define-text-size-5x-large-breakpoints: $shell-g-global-breakpoints !default;

// 6X-Large
$shell-helper-apply-text-size-6x-large-at-breakpoints: false !default;

$shell-helper-define-text-size-6x-large-breakpoints: $shell-g-global-breakpoints !default;

// 7X-Large
$shell-helper-apply-text-size-7x-large-at-breakpoints: false !default;

$shell-helper-define-text-size-7x-large-breakpoints: $shell-g-global-breakpoints !default;

/* stylelint-enable */


/* stylelint-disable max-line-length */

/**
 * Alignments.
 */

// Center
$shell-helper-apply-text-align-center-at-breakpoints: false !default;

$shell-helper-define-text-align-center-breakpoints: $shell-g-global-breakpoints !default;

// Left
$shell-helper-apply-text-align-left-at-breakpoints: false !default;

$shell-helper-define-text-align-left-breakpoints: $shell-g-global-breakpoints !default;

// Right
$shell-helper-apply-text-align-right-at-breakpoints: false !default;

$shell-helper-define-text-align-right-breakpoints: $shell-g-global-breakpoints !default;

/* stylelint-enable */


/* stylelint-disable max-line-length */


/**
 * Text truncate.
 */

$shell-helper-apply-text-truncate-at-breakpoints: false !default;

$shell-helper-define-text-truncate-breakpoints: $shell-g-global-breakpoints !default;

/* stylelint-enable */


/* stylelint-disable max-line-length */

/**
 * Word wrap and hyphenate.
 */

$shell-helper-apply-text-wrap-word-and-hyphenate-at-breakpoints: false !default;

$shell-helper-define-text-wrap-word-and-hyphenate-breakpoints: $shell-g-global-breakpoints !default;

/* stylelint-enable */


/* stylelint-disable max-line-length */

/**
 * Hide.
 */

// Hide elements from both screen readers and the document flow
$shell-helper-apply-hide-at-breakpoints: false !default;

$shell-helper-define-hide-breakpoints: $shell-g-global-breakpoints !default;

// Hide elements only visually but have it available for screen readers
$shell-helper-apply-hide-visually-at-breakpoints: false !default;

$shell-helper-define-hide-visually-breakpoints: $shell-g-global-breakpoints !default;

/* stylelint-enable */


/* stylelint-disable max-line-length */

/**
 * Spacing.
 */

$shell-helper-apply-spacing-at-breakpoints: false !default;

$shell-helper-define-spacing-breakpoints: $shell-g-global-breakpoints !default;

/**
 * Decrease from base.
 */

// Small
$shell-helper-apply-spacing-small-at-breakpoints: false !default;

$shell-helper-define-spacing-small-breakpoints: $shell-g-global-breakpoints !default;

// X-Small
$shell-helper-apply-spacing-x-small-at-breakpoints: false !default;

$shell-helper-define-spacing-x-small-breakpoints: $shell-g-global-breakpoints !default;

// 2X-Small
$shell-helper-apply-spacing-2x-small-at-breakpoints: false !default;

$shell-helper-define-spacing-2x-small-breakpoints: $shell-g-global-breakpoints !default;


/**
 * Increase from base.
 */

// Large
$shell-helper-apply-spacing-large-at-breakpoints: false !default;

$shell-helper-define-spacing-large-breakpoints: $shell-g-global-breakpoints !default;

// X-Large
$shell-helper-apply-spacing-x-large-at-breakpoints: false !default;

$shell-helper-define-spacing-x-large-breakpoints: $shell-g-global-breakpoints !default;

// 2X-Large
$shell-helper-apply-spacing-2x-large-at-breakpoints: false !default;

$shell-helper-define-spacing-2x-large-breakpoints: $shell-g-global-breakpoints !default;

// 3X-Large
$shell-helper-apply-spacing-3x-large-at-breakpoints: false !default;

$shell-helper-define-spacing-3x-large-breakpoints: $shell-g-global-breakpoints !default;

// 4X-Large
$shell-helper-apply-spacing-4x-large-at-breakpoints: false !default;

$shell-helper-define-spacing-4x-large-breakpoints: $shell-g-global-breakpoints !default;

// 5X-Large
$shell-helper-apply-spacing-5x-large-at-breakpoints: false !default;

$shell-helper-define-spacing-5x-large-breakpoints: $shell-g-global-breakpoints !default;

// 6X-Large
$shell-helper-apply-spacing-6x-large-at-breakpoints: false !default;

$shell-helper-define-spacing-6x-large-breakpoints: $shell-g-global-breakpoints !default;

/* stylelint-enable */
