/* ============================================================================
   BASE
   ========================================================================= */

/**
 * Here we provide very basic styling that most of the tests will need. Some
 * of this styling builds on top of Shell's "Base".
 *
 * N.B. no element selectors can be used so that styles don't interfere with
 * the Shell Base styles, the exception is links.
 *
 * CONTENTS:
 *
 * 1. Links
 * 2. Code
 */




/* 1. Links
   ========================================================================= */

.🐌-b-link {
    border-bottom: 1px solid transparent;

    &:hover,
    &:active {
        border-bottom-color: $g-color-link-hover;
    }
}




/* 2. Code
   ========================================================================= */

.🐌-b-code {
    background-color: $shell-g-color-white;
    border-radius: 3px;
    color: $g-color-text-base;
    font-family: $shell-g-font-family-monospace;
    font-weight: normal;
    padding: rem(3) rem(6);
}
