/* ============================================================================
   SETTINGS
   ========================================================================= */

/**
 * All global settings (Sass variables) for the Shell Tests and any Shell
 * library setting overrides.
 *
 * Shell Tests settings can use any of the Shell library settings, like so:
 *
   $g-color-code-block-background: $shell-g-color-white;
 *
 * ---------------------------------------------------------------------------
 *
 * All settings start with a global namespace: `$g` followed by one hyphen,
 * like this:
 *
   $g-;
 *
 * The "g" stands for "global".
 *
 * ----------------------------------------------------------------------------
 *
 * CONTENTS:
 *
 * 1. Colours
 */




/* 1. Colours
   ========================================================================= */

// White and black
$g-color-white: #fff;

$g-color-black: #000;

// Brand
$g-color-brand: #37393b;

// Text base
$g-color-text-base: #444;

// Link
$g-color-link: #185bd3;

$g-color-link-hover: lighten($g-color-link, 10%);

// Greys
$g-color-light-grey: #eee;

$g-color-medium-grey: #999;

$g-color-dark-grey: #666;

// Others
/* stylelint-disable-next-line color-named */
$g-color-dark-orange: darkorange;

// Demo colours for test cases
/* stylelint-disable-next-line color-named */
$g-color-test-case-canvas-background: crimson;

/* stylelint-disable-next-line color-named */
$g-color-test-case-subject-background: lightblue;
