@charset 'UTF-8';

/* ============================================================================
   SHELL TEST'S STYLESHEET
   ========================================================================= */

/**
 * Styles for the Shell Tests.
 *
 * ----------------------------------------------------------------------------
 *
 * CONTENTS:
 *
 * 1. Shell Tests settings
 * 2. Shell library
 * 3. Shell Tests styles
 *
 * N.B. the above order of sections #1 and #2 must be maintained otherwise Sass
 * will not compile!
 */




/* 1. Shell Tests settings incl. any Shell setting overrides
   ========================================================================= */

@import 'settings';




/* 2. Shell library
   ========================================================================= */

@import '../../../../src/settings';

@import '../../../../src/mixins-functions';

@import '../../../../src/normalise-reset';

@import '../../../../src/base';

@import '../../../../src/container';

@import '../../../../src/grid';

@import '../../../../src/helpers';




/* 3. Shell Tests styles
   ========================================================================= */

/**
 * Base.
 */

@import 'base';


/**
 * Layout Template.
 */

@import 'layout/template/l-header';

@import 'layout/template/l-main';


/**
 * Components.
 */

@import 'components/c-test-case';

@import 'components/c-file-path';


/**
 * Vendor.
 */

//@import "vendor/github-style-syntax-highlighting";


.test-button {
    background-color: gold;
    border-radius: 6px;
    display: inline-block;
    min-height: rem(40);
    padding-bottom: rem($shell-g-spacing-x-small);
    padding-left: rem($shell-g-spacing-small);
    padding-right: rem($shell-g-spacing-x-large);
    padding-top: rem($shell-g-spacing-x-small);
}
