---
layout: master.hbs
---

<div class="ðŸŒ-c-test-case">

    {{!-- Title --}}
    <div class="ðŸŒ-c-test-case__title">
        <div class="l-container">
            <h1 class="ðŸŒ-c-test-case__title-heading"><a href="{{ docs-urls }}" title="â†’ Read more about {{ title }} in the docs"><strong>{{ title }}</strong></a> tests</h1>
            <p class="ðŸŒ-c-test-case__title-note">All associated settings in <strong class="ðŸŒ-c-file-path">assets/scss/_settings.scss â†’ {{ title }}</strong></p>
        </div>
    </div>
    {{!-- //Title --}}

    {{> body}}

</div>
